<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Vakaları</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-right">
        <a href="https://pomber.github.io/covid19/timeseries.json" class="data-button" target="_blank">Covid19 Veri Dosyası</a>
    </div>
    <div class="container">
        <h1>COVID-19 Vaka Sayısı Sorgulama</h1>
        <form action="/result" method="POST">
            <label for="country">Ülke Seçin:</label>
            <select name="country" id="country">
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <label for="date">Tarih Seçin:</label>
            <select name="date" id="date">
                {% for date in dates %}
                <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
            </select>
            <button type="submit">Sorgula</button>
            <p>Ziyaretçi Sayısı: {{ visit_count }}</p>
        </form>
    </div>
</body>
</html>


